{% extends 'base.html' %}

{% block content %}
<div id="home">
    <div class="jumbotron">
        <h1>Ninja Tech Forum</h1>
        <p>Welcome to Ninja Tech Forum</p>
    </div>
    <br>
    <h1>Posts</h1>

    {% for post in posts %}
    <div class="post">
        <div class="post-title">
            <a href="/r/{{ post.key.id() }}"><h3>{{ post.title }}</h3></a>
            <h6>{{ post.user_email }} - {{ post.time_posted }}</h6>
        </div>
        <div class="post-content">
            <div class="summary">{{ post.content }}</div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}