{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="post">
        <div class="post-title">
            <h1>{{ post.title }}</h1>
            {% if admin or email == author %}
            <a class="delete" href="/r/{{ post.key.id() }}/delete">Delete</a>
            {% endif %}
            <h6>{{ post.user_email }} - {{ post.time_posted.strftime('%d.%m.%y %H:%M') }}</h6>
        </div> <!-- .post-title -->
        <div class="post-content">
            <p>{{ post.content }}</p>
        </div> <!-- .post-content -->
    </div> <!-- .post -->
    <a href="/">Go Back</a>

    <div class="subscribe">
        {% if subscribe %}
        <a class="btn btn-danger" href="/subscribe">UNSUBSCRIBE</a>
        {% else %}
        <a class="btn btn-info" href="/subscribe">SUBSCRIBE</a>
        {% endif %}
    </div><!-- .subscribe -->

    <div class="comments">

        <h3>Comments</h3>
        {% for comment in comments %}
        <div class="comment">
            <div class="comment-meta">
                <h5>{{ comment.user_email }}</h5>
                {% if comment.user_email == email or admin %}
                <a class="delete-comment" href="/r/{{ post.key.id() }}/delete-comment">Delete</a>
                {% endif %}
            </div>
            <div class="comment-content">
                <p>{{ comment.content }}</p>
            </div>
        </div>
        {% endfor %}

        {% if user %}
        <div class="add-comment">
            <form method="post">
                <div class="form-group">
                    <label>Comment</label>
                    <textarea name="comment" class="form-control" rows="5" required></textarea>
                </div>

                <input name="csrf-token" value="{{ csrf_token }}" hidden>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div> <!-- .add-comment -->
        {% else %}
        <h4><strong>You need to login to post comments</strong></h4>
        {% endif %}
    </div> <!-- .comments -->

</div> <!-- .container -->
{% endblock %}